# Ignore db, simulation, incremental_db, and output files
db
simulation
incremental_db
output_files

# Ignore these random files
Veopixels.qpf
Veopixels.qsf
Veopixels.qws
Veopixels_nativelink_simulation.rpt